.skeletonRow {
  display: grid;
  grid-template-columns: 40px 1fr 1fr 1fr;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.image {
  border-radius: 0px;
}

.title,
.artist,
.album {
  border-radius: 0px;
}
